#con4 {
    width: 100%;
    background: #fafafa;
}

#content8 {
    width: 1226px;
    margin: 0 auto;
}

#footer_top {
    width: 1226px;
    height: 270px;
    background: #fff;
    margin-top: 60px;
    overflow: hidden;
}

#footer_top .top_f {
    width: 1226px;
    height: 25px;
    padding: 27px 0;
    border-bottom: 1px solid #ccc;
}

#footer_top .top_f li {
    width: 244px;
    height: 25px;
    text-align: center;
    border-right: 1px solid #ccc;
    float: left;
}

#footer_top .top_f li:last-child {
    border: 0;
}

.top_f li a {
    color: #666;
    display: block;
    position: relative;
    font-size: 16px;
}

.top_f li a i {
    position: absolute;
    left: 50px;
    top: 3px;
}

.top_f li:last-child a i {
    left: 45px;
}

.top_f li a:hover {
    color: #f66000;
}

.b_f {
    width: 960px;
    margin-top: 35px;
    border-right: 1px solid #ccc;
    height: 120px;
    float: left;
}

.b_f li {
    width: 160px;
    float: left;
    text-align: center;
}

.b_f li .b_fbox li {
    width: 160px;
}

.b_f li .b_fbox li:first-child {
    font-size: 14px;
    color: #333;
    margin-bottom: 30px;
}

.b_fbox li a {
    font-size: 12px;
    color: #666;
    line-height: 24px;
}

.b_fbox li a:hover {
    color: #f66000;
}

.b_left {
    width: 265px;
    height: 120px;
    float: left;
    text-align: center;
    margin-top: 35px;
}

.b_left h2 {
    font-size: 24px;
    color: #f66000;
}

.b_left p {
    font-size: 14px;
    color: #666;
    line-height: 24px;
}

.b_left a {
    width: 120px;
    height: 30px;
    display: block;
    border: 1px solid #f66000;
    line-height: 30px;
    font-size: 16px;
    margin: 10px auto;
    color: #f66000;
}

.b_left a:hover {
    background: #f66000;
    color: #fff;
}

.footer {
    width: 1226px;
    margin: 0 auto;
    padding-top: 30px;
    height: 165px;
    background: #fafafa;
}

.footer .footer_left {
    width: 57px;
    height: 57px;
    float: left;
}

.footer_left img {
    width: 100%;
    height: 100%;
}

.footer_center {
    float: left;
    margin-left: 10px;
}

.footer .footer_center ul {
    width: 688px;
    float: left;
    padding-top: 3px;
}

.footer .footer_center ul li {
    float: left;
    height: 18px;

    line-height: 18px;
}

.footer .footer_center ul li a {
    display: block;
    color: #757575;
    font-size: 12px;
    border-right: 1px solid #757575;
    height: 12px;
    line-height: 12px;
    padding: 0 3px;
}

.footer .footer_center ul li a:hover {
    color: #f66000;
}

.footer .footer_center ul li:last-child a {
    border: 0;
}

.footer .footer_center p {
    font-size: 12px;
    color: #b0b0b0;
    line-height: 18px;
}

.footer .footer_center p a {
    color: #b0b0b0;
}

.footer .footer_center p a:hover {
    color: #f66000;
}

.footer_right ul {
    float: left;
}

.footer_right ul li {
    float: left;
}

.footer_right ul li a {
    display: block;
    width: 85px;
    height: 28px;
}

.footer_right ul li a img {
    width: 100%;
    height: 100%;
}

.footer_bottom {
    width: 267px;
    height: 19px;
    background: url(../images/slogan2016.png) no-repeat center 0;
    margin: 0 auto;
    margin-top: 100px;
    text-align: center;
}
/* h2,p{display: none;} */